$card-background-color: white;
$card-color: black;
$date-color: gray;

.card {
  background-color: $card-background-color;
  color: $card-color;
}

.date {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 16px;
  margin-left: 16px;
  color: $date-color;
}
