<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="50%">
    <p class="center">{{ performance.label }}</p>
  </div>

  <div fxFlex="37.5%">
    <ejs-progressbar
      class="center"
      type="Linear"
      trackThickness="6"
      progressThickness="6"
      [value]="performance.percent"
      [progressColor]="getProgressColor(performance.percent)"
      [trackColor]="trackColor"
      [animation]="animation"
      [id]="performance.label"
    >
    </ejs-progressbar>
  </div>

  <div fxFlex="12.5%">
    <p class="center">{{ performance.percent / 100 | percent }}</p>
  </div>
</div>
