<mat-grid-list [cols]="columns$ | async" gutterSize="16">
  <mat-grid-tile class="tile" *ngFor="let department of departments">
    <a
      class="tile__content"
      fxLayout="column "
      fxLayoutAlign="center center"
      (click)="showPerformance(department.id)"
    >
      <span class="tile__price-tag" ngClass.xs="tile__price-tag--xs ">
        <div
          class="tile__thumbnail"
          [ngStyle]="{ 'background-image': 'url(' + department.logoUrl + ')' }"
        ></div>
      </span>

      <div
        class="tile__title"
        ngClass.xs="tile__title--xs "
        ngClass.sm="tile__title--sm "
      >
        {{ department.name }}
      </div>
    </a>
  </mat-grid-tile>
</mat-grid-list>
